@font-face {font-family: 'Muller';src: local('Muller-Regular'),url('fonts/MullerRegular.woff2') format('woff2'),url('fonts/MullerRegular.woff') format('woff');font-display: swap;font-weight: 400;font-style: normal;}/* Подключил шрифты */

@font-face {font-family: 'Muller';src: local('Muller-Medium'),url('fonts/MullerMedium.woff2') format('woff2'),url('fonts/MullerMedium.woff') format('woff');font-display: swap;font-weight: 500;font-style: normal;}/* Подключил шрифты */

@font-face {font-family: 'Muller';src: local('Muller-Bold'),url('fonts/MullerBold.woff2') format('woff2'),url('fonts/MullerBold.woff') format('woff');font-display: swap;font-weight: 700;font-style: normal;}/* Подключил шрифты */
html {box-sizing: border-box;}
*,
*::before,
*::after {box-sizing: inherit;}
.list-reset {margin: 0;padding: 0;list-style-type: none;}

.button-reset {padding: 13px 20px;
border: 1px solid #CC9933;
border-radius: 10px;
background-color: transparent;
cursor: pointer;color: #CC9933;
font-size: 16px;
font-weight: 400;
line-height: 16px;}
.header-nav-btn {margin-right: 40px;}
img {max-width: 100%;}
a {text-decoration: none;}
p {margin: 0;}
.flex {display: flex;}
h1 {visibility: hidden;height: 0;}
h1, h2, h3 {margin: 0;}
body {font-family: 'Muller', sans-serif;
margin: 0;
padding: 0;
background-color: #F1F1F1;} 
.container {
width: 1170px;
margin: 0 auto;
padding: 35px 0;
max-width: 100%;}
    
.paragraph {
font-size: 16px;
line-height: 32px;}

.paragraph-about-us {
font-weight: 400;
font-size: 16px;
line-height: 200%;
color: #000000;
max-width: 888px;}
.top-header {
align-items: center;
margin-bottom: 30px;}
.top-header-personal-area {font-weight: 400;
    font-size: 16px;
    color: #CC9933;
    right: 0px;
    list-style: none;
    background-image: url(../img/keyboard_tab.png);background-position: left;background-repeat: no-repeat;
    padding-left: 28px;}
.section-title {margin: 0;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 20px;
    font-weight: 400;
    color: #333333;
    padding-left: 40px;}
.header-logo {display: flex;
    align-items: center;
    margin-right: 40px;}
.top-header-telephone {margin-right: auto;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;}
.header-nav {background-color: #FFFFFF;
    border-radius: 15px;
    padding: 0 45px;
    align-items: center;}
.list-item {margin-right: 45px;
    padding: 27px 0;}
.list-item>a {font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;}
.header-nav-flex {height: 100%;}
.header-list {margin-right: auto;}
.special-block {flex-direction: 
    column;
    width: 50%;min-height: 540px;}
.special-item {height: 258px;
    max-width: 573px;
    margin-right: 24px;
    margin-bottom: 24px;
    flex-direction: column;
    padding: 40px 45px;}
.special-item-2 {max-width: 573px;
    min-height: 540px;
    margin-bottom: 24px;
    flex-direction: column;
    padding: 40px 45px;
    justify-content: flex-end;
    align-items: flex-start;}
.special-item:last-child {margin-bottom: 0px;}
.special-block-titel {font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    width: 420px;
    color: #FFFFFF;
    margin-bottom: 15px;}
.special-block-price {font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 47px;}
.special-block-titel-2 {font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    width: 299px;
    color: #FFFFFF;
    margin-bottom: 15px;}
.special-block-links {width: 102px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
    padding-right: 15px;
    background-image: url(../img/Rectangle\ 2.png);background-repeat: no-repeat;background-position: right;}
.maldivs {background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Rectangle\ 15.png);background-repeat: no-repeat;object-fit: cover;background-position: center;border-radius: 15px;}
.crete {background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/Rectangle\ 14.jpg);background-repeat: no-repeat;object-fit: cover;background-position: center;border-radius: 15px;}
.luxe {background-image: url(../img/33\ 1.png);background-repeat: no-repeat;object-fit: cover;background-position: center;border-radius: 15px;}
.services-list {flex-wrap: wrap;
    width: 100%;}
.services-item {width: 49%;
    min-height: 330px;
    max-width: 573px;
    padding: 35px 45px;
    background-repeat: no-repeat;object-fit: cover;background-position: top;border-radius: 15px;background-color: #FFFFFF;}
.services-item-flex {width: 100%;
    min-height: 100%;
    flex-direction: column;justify-content: flex-end;
    align-items: flex-start;}
.paragraph-services {width: 402px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;}
.more-information {font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    padding-right: 16px;
    background-image: url(../img/Rectangle\ 22.png);background-repeat: no-repeat;background-position: right;}
.services-item-1, .services-item-2 {margin-bottom: 24px;}
.services-item-1, .services-item-3 {margin-right: 24px;}
.services-item-1 {background-image: url(../img/10.png);}
.services-item-2 {background-image: url(../img/12.png);}
.services-item-3 {background-image: url(..//img/15.png);}
.services-item-4 {background-image: url(..//img/carlo-d-agnolo-aFxSh_l4fbY-unsplash.png);}
.advantages-item {width: 276px;
    min-height: 276px;
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 116px 42px 32px 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    background-repeat: no-repeat;background-position: top 40px left 45px;}
.adv-item-1 {background-image: url(../img/bathtub.png);}
.adv-item-2 {background-image: url(../img/hanger.png);}
.adv-item-3 {background-image: url(../img/heating.png);}
.adv-item-4 {background-image: url(../img/hotel-key.png);}
.adv-item-5 {background-image: url(../img/parking.png);}
.adv-item-6 {background-image: url(../img/reception.png);}
.adv-item-7 {background-image: url(../img/security-box.png);}
.adv-item-8 {background-image: url(../img/swimming-pool.png);}
.advantages-item:not(:nth-child(4n)) {margin-right: 22px;}
.advantages-item:not(:nth-child(1n+5)) {margin-bottom: 22px;}
.hotels-item {width: 374px;
    min-height: 440px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    border-radius: 15px;}
.hotel-item-box {padding: 32px 45px 45px 45px;}
.hotels-item:not(:nth-child(3n)) {margin-right: 24px;}
.hotels-item-9 {background-image: url(../img/41.png);background-size: cover;background-position: center;justify-content: center;align-items: flex-end;}
.hotels-item:not(:nth-child(1n+7)) {margin-bottom: 22px;}
.hotel-prise-star {justify-content:space-between;
    margin-bottom: 16px;
    align-items: center;}
.hotel-price {align-items: center;}
.hotel-star {margin-right: 6px;}
.hotel-star:last-child {margin: 0;}
.hotel-text-light {font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #999999;}
.hotel-text-medium {font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;}
.hotel-text-price {font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;}
.hotel-text-margin-1 {margin-bottom: 16px;}
.hotel-text-margin-2 {margin-bottom: 20px;}
.hotels-item-all {font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    padding-right: 15px;
    background-image: url(../img/159.png);background-position: right;background-repeat: no-repeat;margin-bottom: 27px;}